@model GroupViewModel
@{ViewBag.Title = "Group Creation";}
<form asp-controller="Groups" asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>: <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <button>Create</button>
</form>