@model GroupViewModel
@{ViewBag.Title = "Group Edit";}

<section class="m-6">
    <form asp-controller="Groups" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        @await Html.PartialAsync("_CreateOrEdit")
        <button class="border-gray-500 border-2 p-6 m-5 rounded-lg hover:bg-green-200">Update</button>
        <a asp-controller="Groups" asp-action="Index"><button class="border-gray-500 border-2 p-6 m-5 rounded-lg hover:bg-red-200">Cancel</button></a>
    </form>
</section>