@model List<UserViewModel>

@{int counter = 0;
ViewBag.Title = "User Index";}

<section class="flex flex-wrap">
    @foreach(var user in Model) {
        <div class="lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1">
            <a asp-controller="users" asp-action="Edit" asp-route-id=@counter>
                <section class="border-gray-500 border-2 p-6 m-5 rounded-lg">
                    <button>@user.FirstName @user.LastName</button>
                    <form asp-controller="users" asp-action="Delete" asp-route-id=@counter method="post"><button onclick="return confirm('You are about to delete @user.FirstName @user.LastName. Are you sure you want to do this?');"><i class="fa fa-trash" aria-hidden="true"></i></button></form>
                    @{counter++;}
                </section>
            </a>
        </div>
    }
</section>
<a asp-action="Create">
    <section>
        <p class="border-gray-500 border-2 p-6 m-5 rounded-lg hover:bg-blue-200">Create</p>
    </section>
</a>